nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .NavLeft{
    width: 10%;
  }
  .NavRight {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      li {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        a {
          color: #000000;
        }
        a:hover{
          color: #33CAFF;
          border-bottom: 1px solid #33CAFF;
        }
        button{
          padding: 13px 30px;
          background-color: #33CAFF;
          border: none;
          font-size: 18px;
        }
        button:hover{
          color: #000000;
          background-color:rgb(197, 227, 240)
        }
      }
    }
  }
}


.navbottom{
  margin-bottom: 30px;
   input{
    width: 98%;
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
   }
}